@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 210 37% 37%;
    --primary-foreground: 0 0% 100%;

    --secondary: 48 100% 50%;
    --secondary-foreground: 0 0% 7%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 40%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 210 37% 37%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 16%;
    --popover-foreground: 0 0% 98%;

    --primary: 210 37% 37%;
    --primary-foreground: 0 0% 100%;

    --secondary: 48 100% 50%;
    --secondary-foreground: 0 0% 7%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 210 37% 37%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-grid-pattern {
    background-size: 20px 20px;
  }

  .bg-grid-small-pattern {
    background-size: 10px 10px;
  }
}

.custom-blue {
  color: #3a5a80;
}

.bg-custom-blue {
  background-color: #3a5a80;
}

.border-custom-blue {
  border-color: #3a5a80;
}
